@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body {
    background-color: rgb(229, 229, 229);
    display: flex;
    flex-direction: column;
    align-items: center;   
}

header {
    background-color: rgb(20, 33, 61);
    padding: 50px;
    width: 100%;
}

header > h1 {
    color: rgb(252, 163, 17);
    text-align: center;
    font-size: 60px;
}

#calcBody { 
    margin-top: 100px;
    background-image: linear-gradient(to top, rgb(20,33,61), rgb(229,229,229));
    width: 500px;
    border-radius: 0px 0px 50px 50px;
    border: 6px solid rgb(252, 163, 17);
    box-shadow: 10px 10px rgb(0, 0, 0);
}

#calcDisplay {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 60px 60px;
    font-size: 40px;
    min-height: 160px;
    word-wrap: break-word;
}

#rowOne, #rowTwo, #rowThree, #rowFour, #rowFive {
    display: flex;
    justify-content: space-between;
    color:rgb(229, 229, 229);
    margin: 5% 15%;
}

#rowOne {
    padding-top: 5%;
}

#rowFive {
    padding-bottom: 5%;
}

.buttons {
    display: flex;
    padding: 10%;
    font-size: xx-large;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    border: 3px solid rgb(252, 163, 17);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px rgb(229, 229, 229);
}

.buttons:hover{
    cursor: pointer;
}